{% extends "base.html" %}
{% block title %}Approve Students as your Advisees{% endblock %}
{% block header %}
{% endblock %}

{% block content %}

<div class="container">
  <form action="/forms/approve" method="post">
  <div>
    <label>Students by netID</label>
    <select name="chosen_student">
      {% for student in current_user.student_requests %}
      <option value="{{student}}"> {{ student }} </option>
      {% endfor %}
      </select>
  </div>
  <select name="approve" id="approve">
    <option value="yes">I agree to be this student's advisor.<br>
    <option value="no">I do not agree to be this student's advisor.<br>
  </select>
  <div>
    <input type="submit" value="Submit"/>
  </div>
  </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
