<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <img src="/images/princeton.gif" width="40" height="40">
    {% block head %}
    <title>{% block title %}{% endblock %} - COS IW</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock %}
      {% block header %}
      {% endblock %}
      {% if user_type=="student"%}
      {% block student%}
      {% endblock %}
      {% else %}
      {{ self.student() }}
      {% block advisor %}
      {% endblock %}
      {% endif %}
      {% block submit %}
      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      <!-- links: -->
      <a href="/">Home</a>
      <!-- &copy; Copyright 2013 by <a href="http://domain.invalid/">you</a>. -->
      {% endblock %}
    </div>
  </body>
</html>

