{% extends "base.html" %}
{% block title %}Thesis and COS IW Forms{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<h1>COS Independent Work</h1>
<div id="wrapper">
  <li class="first"><a href="http://iw.cs.princeton.edu/12-13/">COS IW Website</a></li>
  <div id="menucontainer">
	<ul id="menulist">
	  <h2>Forms</h2>
	  <li class="forms"><a href="forms/signupform">Signup Form</a></li>
	  <li class="forms"><a href="forms/checkpointform">Checkpoint Form</a></li>
	  <li class="forms"><a href="forms/februaryform">February Progress Form</a></li>(for all 2-semester work)
	  <li class="forms"><a href="forms/secondreaderform">Second Reader Form</a></li>(for all 2-semester work)
	</ul>
  </div>
  <hr>
  <!-- links: -->
  <a href="forms/query">Form Query</a>
  <br>
  <a href="administrative/users">View Users</a>
  <br>
  <a href="files/new_file">Upload New File</a>
  <br>
  <a href="files/view">View Uploaded Files</a>
</div>
{% endblock %}
