{% extends "base.html" %}
{% block title %}Select Student{% endblock %}
{% block content %}
<h2>Select The Student You Wish To See:</h2>

<div class="container">
  <form action="/forms/selectstudent" method="post">
    <div>
      <label>Student NetIDs:</label>
      {% for student in current_user.student_netIDs %}
        <th><a href="/forms/view?{'student_netID':{{student}}, 'form_type':'checkpointform'} | urlencode">{{ student }}</a></th>
	<br>
      {% endfor %}
      </label>
    </div>
  </form>
</div>
{% endblock %}
