{% extends "base.html" %}
{% block advisor %}
<h2>Select Student</h2>
<div class="container">
  <form action="/forms/select" method="post">
    <div>
  <label>Which student's form do you want to view?</label>
  <select name="student_netID" onchange="netID()">
    {% for student in current_user.student_netIDs %}
    <option value="{{student}}">{{student}}</option>
    {% endfor %}
     </select>
    </div>
    <input type="hidden" name="form_type" value="{{form_type}}" />
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
</div>
<hr>
{% endblock %}
