html {
    display:block;
}
body {
    padding:0;
    margin:20px;
    text-align:center;
}
.container {
    margin:0 auto;
    padding:5px;
    width:450px;
    text-align:left;
}
.container div {
    margin:10px;
}
label {
    float:left;
    width:200px;
    text-align:right;
    margin-right:10px;
}
.radio {
    padding-left:210px;
}
textarea {
    margin-left:10px;
}
#submit {
    text-align:center;
    padding-left:70px
}