body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #DDDDDD;
}
.myform {
    margin:0 auto;
    width:400px;
    padding:14px;
}
.myform input {
    float:left;
    padding: 4px 2px;
    border:solid 1px #aacfe4;
    width:200px;
    margin:2px 0 20px 10px;
}