{% extends "base.html" %}
{% block title %}Checkpoint Form{% endblock %}
{% block head %}
<script type="text/javascript">


function radios() {

read = {{form.advisor_read}};
var radiosR = document.getElementsByName('advisor_read');
radiosR[read].checked = true;

meet = {{form.advisor_more_meetings}}
var radiosM = document.getElementsByName('advisor_more_meetings');
radiosM[meet].checked = true;

progress = {{form.student_progress_eval}};
var radiosP = document.getElementsByName('student_progress_eval');
radiosP[progress].checked = true;

}


</script>

{% endblock %}
{% block admin %}
{% block student %}

  <h2>Checkpoint Form</h2>


  <h3>Your form has been sucessfully submitted.</h3>

  <br>
  <h3>Student Section:</h3>
  <div class="container">
    <div>
	  <label>Student NetID:</label>
	  <input type="text" name="student_netID" value="{{ form.student_netID }}" disabled />
    </div>
    <div>
	  <label>Student Name:</label>
	  <input type="text" name="student_name" value="{{ form.student_name }}" disabled />
    </div>
    <div>
	  <label>Title of Project:</label>
	  <input type="text" name="project_title" value=" {{ form.project_title }}" disabled />
    </div>
    <div>
	  <label>Advisor's Name:</label>
	  <input type="text" name="advisor_name" value= "{{ form.advisor_name }}" disabled />
    </div>
    <div>
	  <label>Approx. Number of Meetings with Advisor (0, 1, 2, 3-5, etc.): </label>
	  <input type="text" name="number_of_meetings" value=" {{ form.number_of_meetings }}" disabled />
    </div>
    <br>
    <div>
	  <label>Student Self Assessment: </label>
	  <textarea name="student_self_assessment" rows="5" cols="60" disabled>{{ form.student_self_assessment }}</textarea>
    </div>  
{% endblock %}

{% block advisor %}
<body onload="radios()">
    <h3>Advisor Section:</h3>
    <div>
	  <label>I read the student's 1-page summary report:</label>
	  <div class="radio">

	    <input type="radio" name="advisor_read" disabled/>Yes<br>
	    <input type="radio" name="advisor_read" disabled/>No<br>
      </div>
    </div>
    <div>
	  <label>Would you like your student to meet with you more often?</label>
	  <div class="radio">
	    <input type="radio" name="advisor_more_meetings" disabled/>Yes<br>
	    <input type="radio" name="advisor_more_meetings" disabled/>No<br>
      </div>
    </div>
    <br>
    <div>
      <label>Student Progress:</label>
      <div class="radio">
        <input type="radio" name="student_progress_eval" disabled/>Exceptional<br>
        <input type="radio" name="student_progress_eval" disabled/>Very Good<br>
        <input type="radio" name="student_progress_eval" disabled/>Good<br>
        <input type="radio" name="student_progress_eval" disabled/>Unsatisfactory<br>
      </div>
    </div>
    <div>
	  <label>Advisor Comments: <br> [If student progress is unsatisfactory, explain what steps they need to take to get on track.]</label>
	  <textarea name="advisor_comments" rows="4" cols="60" disabled>{{ form.advisor_comments }}</textarea>
      <hr>
    </div>
  </div>
</body>
{% endblock %}
{% endblock %}
